.container{
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;

  background-color: #1d140e;
  color: #fff;
  border-radius: 15px;
  text-align: center;
}

.room-link{
  text-decoration: none;
  color: gray;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}

button {
  background-color: rgb(0, 155, 212);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: rgb(164, 202, 123);
}


.box {
    opacity:1;
    background-color: black;
    position:fixed;
    width:50%;
    height:50%;
    top: 0px;
    left: 0px;
    z-index:-1;
}
