body{
  background-color: #e4eddf;
}

/*
Dark Mode:
background - #1b1b1b
player-background - #272727
player-background-hover - #3c3c3c

*/


#home-button{
  position: fixed;
  right: 1%;
  top: 1%;
}

.player{
  background-color: #D0D9CC;
  padding: 5px 15px;
  width: 300px;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  opacity:0.7;

}

.current{
  background-color: pink;
}

.player:hover{
  width: 310px;
  opacity:1;
}


#hand{
  position: fixed;
  width: 100%;
  bottom: 20%;
  left: 21%;
}

.card{
  display:inline;
  padding: calc(125px/1.5) calc(85px/1.5);
  border-radius: 15px;
  color: white;
  font-size: 50px;
  -webkit-transition: 0.2s;
}

#stash{
  position: fixed;
  left: 50%;
  top: 30%;
}

#deck{
  position: fixed;
  left: 40%;
  top: 30%;
}

.card:hover{
  opacity: 80%;
  padding: calc(125px/1.4) calc(85px/1.4);
}
