.player{
  background-color:grey;
  width: 400px;
}

.player:hover{
  opacity: 0.8;
}

#hand{
  position: fixed;
  width: 100%;
  bottom: 150px;
}

.card{
  display:inline;
  border: 1px solid #CCC;
  padding: calc(125px) calc(65px);
  border-radius: 15px;
}

.card:hover{
  opacity: 80%;
}
