 <!DOCTYPE html>
 <html lang="en">

 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="icon" href="data:,">

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

   <style>
     @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    *{
      font-family: 'Roboto', sans-serif;
    }

    a{
      text-decoration: none;
    }

     /* unvisited link */
    a:link {
      color: red;
    }

    /* visited link */
    a:visited {
      color: green;
    }

    /* mouse over link */
    a:hover {
      color: hotpink;
    }

    /* selected link */
    a:active {
      color: blue;
    }

   </style>

   <title>{% block title%}{%endblock%}</title>
   {% block head%}{%endblock%}


 </head>

 <body>
   {% block content%}{%endblock%}
 </body>

 </html>
