{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block head %}
<style>
  body{
    /*background-color: #181a1b*/;
    color: white;
  }

  .box{
    opacity:0.8;
    background-color:#ff0000;
    position:fixed;
    width:50%;
    height:50%;
    top: 0px;
    left: 0px;
    z-index:-1;
  }

  .container{
    position:fixed;
    background-color: #313131;
    width:50%;
    border-radius: 15px;
    padding: 5px;
    left: 25%;
    top: 25%;
  }

  .content {
      text-align: center;
  }

  button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  }

  button:hover {
  background-color: #3e8e41;
  }

  #username {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    image-rendering: pixelated;
    box-sizing: border-box;
    margin: 0;
    display: fixed;
    width: 75%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    flex: 1 1 auto;
  }
</style>

{% endblock %}

{% block content %}

<div id="background">
  <div class="box" style="background-color: #e6686c;"></div>
  <div class="box" style="left: 50%; background-color: #a4ca7b;"></div>
  <div class="box" style="top: 50%; background-color: #009bd4;"></div>
  <div class="box" style="top: 50%; left: 50%; background-color: #f9cd61;"></div>
</div>

<div class="container" style="background-color: #black;"">

  <div class="content">
    <h1>Kaki - knock of Taki (Jewish Version of Uno)</h1>
    <input type="text" id="username" name="username" maxlength="10" placeholder="Enter Username" style="color:black;">
    <br><br>
    <button onclick="window.location.href='/create-room'">Create Room</button>
    <button>Join Room</button>
  </div>

  <div id="room-list">
    <h2>Room List</h2>

    {% if rooms|length > 0 %}
      <ul>
      {% for room in rooms %}
        <li><a href="/room/{{room.id}}">{{room.id}}</a></li>
      {% endfor %}
      </ul>
    {% else %}
        <p>No rooms available</p>
    {% endif %}
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  const source = document.getElementById('username');

  source.value = localStorage.getItem("username");

  const inputHandler = function(e) {
    localStorage.setItem("username", e.target.value);
  }
  source.innerHTML
  source.addEventListener('input', inputHandler);
  source.addEventListener('propertychange', inputHandler); // for IE8
  // Firefox/Edge18-/IE9+ don’t fire on <select><option>
  // source.addEventListener('change', inputHandler);
</script>
{% endblock %}
