{% extends "base.html" %}

{% block title %}Room{% endblock %}

{% block head %}
<style>
  #hand{
    position: fixed;
    width: 100%;
    bottom: 77px;
  }

  .card{
    display:inline;
    border: 1px solid #CCC;
    padding: calc(1820px / 20) calc(1214px / 20);
  }

  .card:hover{
    opacity: 80%;
  }
</style>
{% endblock %}

{% block content %}
<h1>Room {{room.id}}</h1>
<button type="button" onclick="send('message', 'this is my message');">Send message</button>
<br>
<a href="/">Go Back</a>

<div id="table">
  <div id="deck"></div>
  <div id="stash"></div>
</div>

<div id="players">
{% for player in room.players.values() %}
  <p>{{player.username}}#{{player.id}}<p/>
{% endfor %}
</div>

<div id="hand">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='room.js')}}"></script>
{% endblock %}
